* {
	margin: 0px;
	padding: 0px;
}

#principal {
	width: 900px;
	margin: auto;
	
}

#topo {
	position: relative;
	width: 900px;
	height: 321px;
	clear: both;
}

#missao {
	position: relative;
	width: 280px;
	height: 170px;
	background-color: yellow;
	float: left;
}

#cursos {
	position: relative;
	width: 280px;
	height: 170px;
	background-color: #4d4d4d;
	float: left;
	margin-left: 30px;
}

#eventos {
	position: relative;
	width: 280px;
	height: 170px;
	background-color: red;
	float: right;	
	
}
#eventos img{
	width: 250px;
	height: auto;
	margin-left: 5px;

}
#eventos h2 {
	color: white;
}

#tecnologia {
	position: relative;
	width: 590px;
	height: 200px;
	background-color: lightblue;
	float: left;
}

#treina {
	position: relative;
	width: 285px;
	height: 200px;
	background-color: gray;
	float: right;
	text-align: center;	
}
#treina img {
	
	width: 200px;
	height: 200px;
}

#rodape {
	position: relative;
	width: 900px;
	height: 50px;
	background-color: blue;
	clear: both;
}
#rodape p {
	text-align: center;
	color: white;
}

p{
	text-align: justify;
	font-family: arial;
	font-size: 15px;
}	